@model MVCAPPlication.Models.User

<tr>
    <td>
        @Html.DisplayFor(model => model.Name)
    </td>
    <td>
            <span>*******</span>
    </td>
    <td>
        @Html.DisplayFor(model => model.Email)
    </td>
    <td>
        @Html.DisplayFor(model => model.Role)
    </td>
    <td></td>
    <td></td>
</tr>