@model MVCAPPlication.Models.User

<tr>
    <td>
        @Html.DisplayFor(model => model.Name)
    </td>
    <td>
        @Html.DisplayFor(model => model.Password)
    </td>
    <td>
        @Html.DisplayFor(model => model.Email)
    </td>
    <td>
        @Html.DisplayFor(model => model.Role)
    </td>
    <td>
        <a asp-action="EditView" asp-route-id=@Model.Id>Edit...</a>
    </td>
    <td><a asp-action="Delete" asp-route-id=@Model.Id>Delete...</a></td>
</tr>