@model LoginUserViewModel


<div class="text-center">
    <h3 class="display-4">Log in here</h3>
</div>
<div class="container">
    <div class="row">
        <div class = "col">
            <form asp-controller="Login" asp-action="SignIn" method="post">
        
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control">
                    </div>
                    <div class="mb-3">
                        <input asp-for="RememberMe" class="form-check-inline" type="checkbox" />
                        <label asp-for="RememberMe" class="form-label">Remember me</label>
                    </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>

        <div class="col align-content-end">

            @if (ViewData.ModelState.ContainsKey("Remind Link"))
            {
                <div class="text-danger">
                    @ViewBag.Message
                </div>
            }
            else
            {
                <a asp-action="SignUpView">Don't have an account yet?</a>
            }
        </div>
    </div>
</div>
